.nav {
  li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;

    a {
      color: var(--surface-a);
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }

  button {
    background-color: #FEAF54;
    border: 0;
    border-radius: 10px;
  }
}
